<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

<div class="auth-container">

  <div class="auth-card">

    <h2 class="logo">ISI</h2>
    <h3>Plateforme E-learning</h3>

    <input type="email" placeholder="Email" [(ngModel)]="form.email" name="email">
    <input type="password" placeholder="Mot de passe" [(ngModel)]="form.password" name="password">

    <button (click)="login()">Se connecter</button>


  </div>

</div>
